 <body>
    <h1>Welcome to my portfolio! &#x1F601;</h1>
    <p>
      My name is Lian Nivin. I have 25 year old and I'm learning to become a
      <q>web developer</q>
    </p>
    <p>
      alksjdkaljfklsdfjlksdjflkalksjdkaljfklsdfjlksdjflkalksjdkaljfklsdfjlksdjflkalksjdkaljfklsdfjlksdjflkalksjdkaljfklsdfjlksdjflkalksjdkaljfklsdfjlksdjflkalksjdkaljfklsdfjlksdjflkalksjdkaljfklsdfjlksdjflkalksjdkaljfklsdfjlksdjflkalksjdkaljfklsdfjlksdjflkalksjdkaljfklsdfjlksdjflk
    </p>
    <p>
      alksjdkaljfklsdfjlksdjflkalksjdkaljfklsdfjlksdjflkalksjdkaljfklsdfjlksdjflkalksjdkaljfklsdfjlksdjflkalksjdkaljfklsdfjlksdjflkalksjdkaljfklsdfjlksdjflkalksjdkaljfklsdfjlksdjflkalksjdkaljfklsdfjlksdjflkalksjdkaljfklsdfjlksdjflkalksjdkaljfklsdfjlksdjflkalksjdkaljfklsdfjlksdjflk
    </p>
    <p>
      alksjdkaljfklsdfjlksdjflkalksjdkaljfklsdfjlksdjflkalksjdkaljfklsdfjlksdjflkalksjdkaljfklsdfjlksdjflkalksjdkaljfklsdfjlksdjflkalksjdkaljfklsdfjlksdjflkalksjdkaljfklsdfjlksdjflkalksjdkaljfklsdfjlksdjflkalksjdkaljfklsdfjlksdjflkalksjdkaljfklsdfjlksdjflkalksjdkaljfklsdfjlksdjflk
    </p>
    <br />
    <h2>Aptitude Map</h2>
    <div class="row">
      <div class="column" style="background-color:rgb(222, 211, 96);">
        <h2>Technical Skills</h2>
        <ul>
          <li>Coffee</li>
          <li>Tea</li>
          <li>Milk</li>
          <li>Coffee</li>
          <li>Tea</li>
          <li>Milk</li>
          <li>Coffee</li>
          <li>Tea</li>
          <li>Milk</li>
        </ul>
      </div>
      <div class="column" style="background-color:rgb(147, 158, 254);">
        <h2>Soft Skills</h2>
        <ul>
          <li>Coffee</li>
          <li>Tea</li>
          <li>Milk</li>
          <li>Coffee</li>
          <li>Tea</li>
          <li>Milk</li>
          <li>Coffee</li>
          <li>Tea</li>
          <li>Milk</li>
        </ul>
      </div>
    </div>
    <br />
    <form action="/action_page.php" target="_self">
      <fieldset>
        <legend>Contact me:</legend>
        First name:<br />
        <input type="text" name="firstname" value="Mickey" /><br />
        Last name:<br />
        <input type="text" name="lastname" value="Mouse" /><br />
        Message:<br />
        <input type="text-box" />
        <input type="submit" value="Submit" />
      </fieldset>
    </form>
    <p>A motto I follow since I started learning code:</p>
    <blockquote>
      <i>
        My attitude has always been, if you fall flat on your face, at least
        you're moving forward. All you have to do is get back up and try again.
      </i>
    </blockquote>
  </body>